/* header */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0 auto;
    font-family: Lato, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.matrix {
    display: block;
    text-align: right;
    width: 500px;
    margin: 0 auto;
}

.matrix-picture {
    width: 500px;
}

.eisenhower-matrix__information {
    font-family: fantasy, cursive;
}

/* body */

.add-block {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.main-block {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.task {
    display: flex;
    width: 56%;
    flex-grow: 1;
}

ul {
    margin: 0;
    padding: 0px;
}

li {
    width: 100%;
}

input,
button {
    outline: none;
}

button {
    font-family: Lato, sans-serif;
    font-size: 15px;
    background: none;
    border: 0px;
    color: #888;
    width: 60px;
    cursor: pointer;
}

button:hover {
    color: #3a3a3a;
}

#add-item {
    display: flex;
}

#add-item li {
    border-bottom: none;
}

#new-task {
    display: inline-block;
    flex-grow: 1;
    border-bottom: none;
}

li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    align-items: center;
    padding: 20px 0;
}

li > input[type="checkbox"] {
    margin: 0 10px;
}

li > label {
    box-sizing: border-box;
    font-size: 18px;
    padding-left: 10px;
    width: 226px;
}

button.delete img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

button.delete img:hover {
    transform: rotateZ(0);
}

.headers {
    display: block;
    font-weight: 700;
    font-size: 15px;
    color: #333;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
}

.input-text,
ul li .input-text {
    /*flex-grow: 1;*/
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    border-radius: 6px;
    border: 1px solid #ddd;
    background: #fff;
    color: #888;
    padding: 0 9px;
}

.input-text:focus {
    color: #333;
}

ul li input[type=text] {
    display: none;
}

ul .edit-mode input[type=text] {
    display: inline-block;
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 18px;
    width: 224px;
    height: 21px;
    flex-grow: 1;
    padding: 0 9px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #fff;
    color: #888;
}

ul .edit-mode label {
    display: none;
}


@media (max-width:768px) {

    .eisenhower-matrix { 
        text-align: center;
    }

}



